@import '../../../variables';
@import '../../../mixins';

:host {
    display: block;
    position: relative;
    background: @header-bg;
    box-shadow: 0px 5px 20px #E8E8E8;
}

h1 {
    margin: 0 auto;
    line-height: @header-height;
    text-align: center;
    width: 60%;
}

.back {
    position: absolute;
    left: @container-padding-h;
    top: 5vw;

    .ic {
        .ic-size(8vw);
    }
}